@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

/* === base styles === */
:root {
    --red: hsl(0, 100%, 74%);
    --green: hsl(154, 59%, 51%);
    --purple: hsl(248, 32%, 49%);
    --dark-purple: hsl(249, 10%, 26%);
    --light-purple: hsl(246, 25%, 77%);
    --white: #fefefa;
}

html {
    box-sizing: border-box;
  }

*, *:before, *:after {
    box-sizing: inherit;
    transition: all 0.3s;
  }

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background: linear-gradient(rgba(255, 122, 122, 0.5), rgba(255, 122, 122, 0.5)),
                url(images/bg-intro-mobile.png);
    color: var(--white);
}

.wrapper {
    display: grid;
    gap: 3em;
    width: 95%;
    max-width: 700px;
    margin: 3em auto;
    padding: 2em;
}

/* header styles */

header {
    text-align: center;
    margin-bottom: 1em;
    line-height: 1.5;
    display: grid;
}

.hero__subhead {
    font-weight: 400;
    align-items: center;
    justify-items: center;
    line-height: 2;
    text-align: center;
}

/* === CTAs section === */

section.ctas {
    display: grid;
    gap: 2em;
}

section.ctas > * {
    box-shadow: 0 .4em 1px rgba(0,0,0,0.2);
}

/* === Buttons === */

.btn {
    color: var(--white);
    border: none;
    font-size: 1em;
    padding: 1.5em 4em;
    border-radius: .5em;
    box-shadow: 0 .4em 1px rgba(0,0,0,0.2);
}

.btn:hover {
    cursor: pointer;
    filter: brightness(110%);
}


.ctas__cta-button {
    background: var(--purple);
}

.main-form .ctas__submit-button {
    background: var(--green);
    text-transform: uppercase;
    letter-spacing: 1.5;
    border: none;
    box-shadow: 0 .2em 1px rgba(43, 150, 104, 0.8);
}

.ctas__cta-button > span {
    font-weight: 600;
}

/* === Form styles === */
.main-form {
    display: grid;
    justify-items: center;
    gap: 1em;
    padding: 2em;
    grid-template-columns: 1fr;
    background: var(--white);
    border: none;
    border-radius: .5em;
}


.main-form input {
    width: 100%;
    border: 1px #DEDEDE solid;
    border-radius: .5em;
    padding: 1em;
    font-size: 1em;
    font-weight: 600;
}

.error {
    display: none;
}

.error p {
    color: var(--red);
    font-style: italic;
    font-size: 0.75em;
    text-align: right;
}

.main-form input:active,
.main-form input:focus {
    outline: none;
    border: solid 1px var(--dark-purple);
} 

.disclaimer {
    color: #BBB;
    font-size: .75em;
    text-align: center;
}

a {
    text-decoration: none;
    color: var(--red);
    font-weight: 600;
}

/* === Media query === */
@media all and (min-width: 1024px) {
    body {
        background: linear-gradient(rgba(255, 122, 122, 0.5), rgba(255, 122, 122, 0.5)),
                url(images/bg-intro-desktop.png);
    }

    .wrapper {
        grid-template-columns: repeat(2, 1fr);
        max-width: 1200px;
        gap: 4em;
        height: 100vh;
    }

    header.hero {
        justify-items: start;
        text-align: left;
        align-content: center;
        line-height: 1;
    }

    .hero__headline {
        font-size: 3em;
        margin: 0;
    }

    .hero__subhead {
        text-align: left;
    }

    section.ctas {
        align-items: center;
        align-content: center;
    }
}
